*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: aliceblue;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 150px;
}

.to-do-container {
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  background-color: pink;
  margin-top: 90px;
}

h3 {
  margin-top: -20px;
  font-weight: 100;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  margin-left: 20px;
}

p {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  margin-left: 20px;
  margin-top: 10px;
}

.list-item {
  margin-left: 20px;
  margin-top: 5px;
  border-bottom: 1px solid grey;
}

.list-items {
  margin-top: 15px;
  border-bottom: 1px solid grey;
  margin-left: 20px;
}

input {
  margin-bottom: 5px;
}

.clear-list {
  text-align: center;
  background-color: azure;
  padding-bottom: 20px;
  padding-top: 20px;
}

.fas {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  color: grey;
}